
# include later when most documentation is done!

/_attic_/
/cfg/
/contribute/
/dist/
/doc/_old_/
/doc/design/
/log-local/
/log/
/target/
/testresources/
MANIFEST.MF
org.eclipse.*
package-info.java
/bin/
/extensions/
